@import url("nav.css");
@import url("hero.css");
@import url("about.css");
@import url("skills.css");
@import url("project.css");
@import url("contact.css");
@import url("footer.css");

/* General styles below */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #0F172A;
    font-family:'Inter',sans-serif;
    color:white;
    line-height: 1.7;
}

section{
    background-color: #1E293B;
}


h1,h2,h3.logo{
    font-family:'Space Grotesk',sans-serif;
    font-weight:700;
}



p{
    font-weight: 400;
}

.nav-links a{
    font-weight: 500;
}

.primary-btn,.hire-btn{
    font-weight: 600;
}

.section-title{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:20px;
}

.section-title::before,
.section-title::after{
    content:"";
    width:80px;
    height:2px;
    background:#C9A227;
}

